    .checker00 {
      position: absolute;
      top: -120px;
      left: 0px;
      background-color: red;
      width: 100px;
      height: 100px;
      z-index: +1;
    }

    .checker01 {
      position: absolute;
      top: -120px;
      left: 120px;
      background-color: red;
      width: 100px;
      height: 100px;
      z-index: +1;
    }

    .checker02 {
      position: absolute;
      top: -120px;
      left: 240px;
      background-color: red;
      width: 100px;
      height: 100px;
      z-index: +1;
    }

      .checker03 {
      position: absolute;
      top: -120px;
      left: 360px;
      background-color: red;
      width: 100px;
      height: 100px;
      z-index: +1;
    }

    .checker04 {
      position: absolute;
      top: -120px;
      left: 480px;
      background-color: red;
      width: 100px;
      height: 100px;
      z-index: +1;
    }

    .checker05 {
      position: absolute;
      top: -120px;
      left: 600px;
      background-color: red;
      width: 100px;
      height: 100px;
      z-index: +1;
    }

    .checker06 {
      position: absolute;
      top: -120px;
      left: 720px;
      background-color: red;
      width: 100px;
      height: 100px;
      z-index: +1;
    }

    .main {
      position: relative;
      margin: 0 auto;
      margin-top: 100px;
      background-color: gray;
      height: 700px;
      width: 820px;
      }

    .cell00 {
      position: absolute;
      top: 0px;
      left: 0px;
      background-color: green;
      width: 100px;
      height: 100px;
    }

    .cell01 {
      position: absolute;
      top: 0px;
      left: 120px;
      background-color: green;
      width: 100px;
      height: 100px;
    }

    .cell02 {
      position: absolute;
      top: 0px;
      left: 240px;
      background-color: green;
      width: 100px;
      height: 100px;
    }

    .cell03 {
      position: absolute;
      top: 0px;
      left: 360px;
      background-color: green;
      width: 100px;
      height: 100px;
    }

    .cell04 {
      position: absolute;
      top: 0px;
      left: 480px;
      background-color: green;
      width: 100px;
      height: 100px;
    }

    .cell05 {
      position: absolute;
      top: 0px;
      left: 600px;
      background-color: green;
      width: 100px;
      height: 100px;
    }
    .cell06 {
      position: absolute;
      top: 0px;
      left: 720px;
      background-color: green;
      width: 100px;
      height: 100px;
    }


    .cell10 {
      position: absolute;
      top: 120px;
      left: 0px;
      background-color: green;
      width: 100px;
      height: 100px;
    }

    .cell11 {
      position: absolute;
      top: 120px;
      left: 120px;
      background-color: green;
      width: 100px;
      height: 100px;
    }

    .cell12 {
      position: absolute;
      top: 120px;
      left: 240px;
      background-color: green;
      width: 100px;
      height: 100px;
    }

    .cell13 {
      position: absolute;
      top: 120px;
      left: 360px;
      background-color: green;
      width: 100px;
      height: 100px;
    }

    .cell14 {
      position: absolute;
      top: 120px;
      left: 480px;
      background-color: green;
      width: 100px;
      height: 100px;
    }

    .cell15 {
      position: absolute;
      top: 120px;
      left: 600px;
      background-color: green;
      width: 100px;
      height: 100px;
    }
    .cell16 {
      position: absolute;
      top: 120px;
      left: 720px;
      background-color: green;
      width: 100px;
      height: 100px;
    }



     .cell20 {
      position: absolute;
      top: 240px;
      left: 0px;
      background-color: green;
      width: 100px;
      height: 100px;
    }

    .cell21 {
      position: absolute;
      top: 240px;
      left: 120px;
      background-color: green;
      width: 100px;
      height: 100px;
    }

    .cell22 {
      position: absolute;
      top: 240px;
      left: 240px;
      background-color: green;
      width: 100px;
      height: 100px;
    }

    .cell23 {
      position: absolute;
      top: 240px;
      left: 360px;
      background-color: green;
      width: 100px;
      height: 100px;
    }

    .cell24 {
      position: absolute;
      top: 240px;
      left: 480px;
      background-color: green;
      width: 100px;
      height: 100px;
    }

    .cell25 {
      position: absolute;
      top: 240px;
      left: 600px;
      background-color: green;
      width: 100px;
      height: 100px;
    }
    .cell26 {
      position: absolute;
      top: 240px;
      left: 720px;
      background-color: green;
      width: 100px;
      height: 100px;
    }   

     .cell30 {
      position: absolute;
      top: 360px;
      left: 0px;
      background-color: green;
      width: 100px;
      height: 100px;
    }

    .cell31 {
      position: absolute;
      top: 360px;
      left: 120px;
      background-color: green;
      width: 100px;
      height: 100px;
    }

    .cell32 {
      position: absolute;
      top: 360px;
      left: 240px;
      background-color: green;
      width: 100px;
      height: 100px;
    }

    .cell33 {
      position: absolute;
      top: 360px;
      left: 360px;
      background-color: green;
      width: 100px;
      height: 100px;
    }

    .cell34 {
      position: absolute;
      top: 360px;
      left: 480px;
      background-color: green;
      width: 100px;
      height: 100px;
    }

    .cell35 {
      position: absolute;
      top: 360px;
      left: 600px;
      background-color: green;
      width: 100px;
      height: 100px;
    }
    .cell36 {
      position: absolute;
      top: 360px;
      left: 720px;
      background-color: green;
      width: 100px;
      height: 100px;
    }   

     .cell40 {
      position: absolute;
      top: 480px;
      left: 0px;
      background-color: green;
      width: 100px;
      height: 100px;
    }

    .cell41 {
      position: absolute;
      top: 480px;
      left: 120px;
      background-color: green;
      width: 100px;
      height: 100px;
    }

    .cell42 {
      position: absolute;
      top: 480px;
      left: 240px;
      background-color: green;
      width: 100px;
      height: 100px;
    }

    .cell43 {
      position: absolute;
      top: 480px;
      left: 360px;
      background-color: green;
      width: 100px;
      height: 100px;
    }

    .cell44 {
      position: absolute;
      top: 480px;
      left: 480px;
      background-color: green;
      width: 100px;
      height: 100px;
    }

    .cell45 {
      position: absolute;
      top: 480px;
      left: 600px;
      background-color: green;
      width: 100px;
      height: 100px;
    }
    .cell46 {
      position: absolute;
      top: 480px;
      left: 720px;
      background-color: green;
      width: 100px;
      height: 100px;
    }   

     .cell50 {
      position: absolute;
      top: 600px;
      left: 0px;
      background-color: green;
      width: 100px;
      height: 100px;
    }

    .cell51 {
      position: absolute;
      top: 600px;
      left: 120px;
      background-color: green;
      width: 100px;
      height: 100px;
    }

    .cell52 {
      position: absolute;
      top: 600px;
      left: 240px;
      background-color: green;
      width: 100px;
      height: 100px;
    }

    .cell53 {
      position: absolute;
      top: 600px;
      left: 360px;
      background-color: green;
      width: 100px;
      height: 100px;
    }

    .cell54 {
      position: absolute;
      top: 600px;
      left: 480px;
      background-color: green;
      width: 100px;
      height: 100px;
    }

    .cell55 {
      position: absolute;
      top: 600px;
      left: 600px;
      background-color: green;
      width: 100px;
      height: 100px;
    }
    .cell56 {
      position: absolute;
      top: 600px;
      left: 720px;
      background-color: green;
      width: 100px;
      height: 100px;
    }   
